name: Build systems
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Free up space
        uses: wimpysworld/nothing-but-nix@main

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: anna328p
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Update volatile inputs
        run: nix flake update keydb

      - name: Build hermes-small configuration
        run: nix build --accept-flake-config 'path:.#nixosConfigurations.hermes-small.config.system.build.toplevel'

      - name: Confirm success
        run: echo 'OK'